@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@source "../../../../shared";

@custom-variant dark (&:is(.dark *):not(:is(.light *):not(.light .dark *)));

@custom-variant has-data-selected {
  &:has([data-selected="true"]) {
    @slot;
  }
}

@custom-variant has-data-unselected {
  &:has([data-selected="false"]) {
    @slot;
  }
}

@layer base {
  :root.dark, :root.dark[data-theme-variant="blue"] {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(0, 0%, 100%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(217.2 91.2% 59.8%);
    --primary-foreground: hsl(0, 0%, 0%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: var(--color-red-400);
    --destructive-foreground: hsl(0, 0%, 0%);

    --warn: var(--color-orange-400);
    --warn-foreground: hsl(0, 0%, 0%);

    --info: hsl(212.7 100% 47.3%);
    --info-foreground: hsl(0, 0%, 0%);

    --help: var(--color-purple-400);
    --help-foreground: hsl(0, 0%, 0%);

    --success: var(--color-emerald-400);
    --success-foreground: hsl(0, 0%, 0%);

    --radius: 0.625rem;

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217, 56%, 30%);
    --ring: hsl(224.3 76.3% 48%);

    --sidebar: var(--background);
    --sidebar-foreground: var(--foreground);

    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);

    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);

    --sidebar-border: oklch(0.279 0.041 260.031);
    --sidebar-ring: oklch(0.446 0.043 257.281);
  }

  :root.dark[data-theme-variant="slate"] {
    --background: hsl(222.2 84% 4.9%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
  }

  :root.dark[data-theme-variant="neutral"] {
    --background: hsl(0 0% 3.9%);

    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);

    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);

    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
  }
}

:root {
  --font-mono: 'Noto Mono';
}

html {
  font-size: calc(var(--app-page-size, 100) * 0.16 * 1px) !important;
}

@supports not (max-height: 100dvh) {
  .max-h-dvh {
    max-height: 100vh;
  }
}

@supports not (min-height: 100dvh) {
  .min-h-dvh {
    min-height: 100vh;
  }
}

/* safelist workaround */
.start-1\/2\! {
  inset-inline-start: calc(1/2 * 100%) !important;
}

/* for cbt-results page's detailed component */
@custom-variant result-correct {
  tbody > tr[data-result="correct"] {
    @slot;
  }
}
@custom-variant result-incorrect {
  tbody > tr[data-result="incorrect"] {
    @slot;
  }
}
@custom-variant result-partial {
  tbody > tr[data-result="partial"] {
    @slot;
  }
}
@custom-variant result-dropped {
  tbody > tr[data-result="dropped"] {
    @slot;
  }
}
@custom-variant result-bonus {
  tbody > tr[data-result="bonus"] {
    @slot;
  }
}
@custom-variant result-not-answered {
  tbody > tr[data-result="notAnswered"] {
    @slot;
  }
}

@custom-variant status-answered {
  tbody > tr[data-status="answered"] {
    @slot;
  }
}
@custom-variant status-not-answered {
  tbody > tr[data-status="notAnswered"] {
    @slot;
  }
}
@custom-variant status-not-visited {
  tbody > tr[data-status="notVisited"] {
    @slot;
  }
}
@custom-variant status-marked {
  tbody > tr[data-status="marked"] {
    @slot;
  }
}
@custom-variant status-marked-answered {
  tbody > tr[data-status="markedAnswered"] {
    @slot;
  }
}

/* For CbtInterfaceAnswerOptionsDiv */
.option-content::after {
  counter-increment: answer-options;
  content: var(--options-prefix) counter(answer-options, var(--counter-type)) var(--options-suffix);
}

.msm-row-label-content::after {
  counter-increment: msm-row-labels;
  content: var(--msm-row-prefix) counter(msm-row-labels, var(--msm-row-counter-type)) var(--msm-row-suffix);
  font-size: var(--msm-row-font-size);
}

.msm-col-label-content::after {
  counter-increment: msm-col-labels;
  content: var(--msm-col-prefix) counter(msm-col-labels, var(--msm-col-counter-type)) var(--msm-col-suffix);
  font-size: var(--msm-col-font-size);
}

.p-popover:after, .p-popover:before {
    left: calc(1.25rem + var(--p-popover-arrow-left))
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warn: var(--warn);
  --color-warn-foreground: var(--warn-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-help: var(--help);
  --color-help-foreground: var(--help-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.3s ease-out;
  --animate-accordion-up: accordion-up 0.3s ease-out;
  @keyframes accordion-down {
  from {
    height: 0;
    }
  to {
    height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
  from {
    height: var(--reka-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
  }
  html body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

/* for color picker component */
.CP-absolute {
  z-index: 100 !important;
}

:root {
  --colorPickerBg: #1d2024 !important;
  --colorPickerInputTitle: #999 !important;
  --colorPickerInputTitleBg: #252930 !important;
  --colorPickerInputText: #fff !important;
  --colorPickerInputTextBg: #2e333a !important;
  --colorPickerDropper: #9099a4 !important;
  --colorPickerDropperBg: #2e333a !important;
  --colorPickerShadowOut: #00000033 !important;
  --colorPickerShadowIn: #00000033 !important;
  --colorPickerSlider: #fff !important;
}

@counter-style lower-pqrs {
  system: fixed;
  symbols: p q r s t u v w x y z;
  suffix: ') ';
}

@counter-style upper-pqrs {
  system: fixed;
  symbols: P Q R S T U V W X Y Z;
  suffix: ') ';
}
